<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
            {%- capture lockup %}brand/lockup-{{ site.data.settings.title | downcase }}.svg{% endcapture -%}
            {% include {{ lockup }} %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <ion-icon name="close"></ion-icon>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">
              <li class="nav__gap" aria-hidden="true"></li>
              {%- comment %}Home, every section with a `menu` label (in their order), the news page and Author{% endcomment %}
              {% include nav-item.html title="Home" url="/#home" %}
              {%- assign sections = site.sections | sort: "order" %}
              {%- for section in sections %}
                {%- if section.menu %}
                {%- capture section_url %}/#{{ section.anchor }}{% endcapture %}
              {% include nav-item.html title=section.menu url=section_url %}
                {%- endif %}
              {%- endfor %}
              {% include nav-item.html title="News" url="/news/" group=true %}
              {% include nav-item.html title="Author" url="https://yeste.studio" external=true %}
              <li class="nav__item">
                <div class="toggle-theme">
                  <div class="toggle-moon" title="Enable dark mode"><ion-icon name="moon"></ion-icon></div>
                  <div class="toggle-sun" title="Enable light mode"><ion-icon name="sunny"></ion-icon></div>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <ion-icon name="menu" class="nav__icon nav__icon-menu"></ion-icon>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->
